/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all .5s linear;
}   */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 9%;
    background: rgb(108, 106, 106);
    z-index: 1000;
}
header a {
    color:white;
    font-size: 1rem;
    margin: 5rem;
    text-decoration: none;
}
header a:hover {
    color: rgb(216, 160, 8);
}

header #meun-bar{
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: .5rem;
    padding: .2rem 1rem;
}
.pro{
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    font-size: 40px;
}
.about{
    text-align: center;
    justify-content: center;
    margin: 1rem 20rem;
    padding: 50px 20px;
    background: rgb(108, 106, 106);
    border: none;
    display: flex;
    gap: 50px;
    color:white;
}
.about img{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}
.wid{
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 40px;
}
.portfo{
    padding: 50px 20px;
    margin: 1rem 20rem;
    display: grid;
    text-align: center;
    justify-content: center;
    border: none;
    background: rgb(108, 106, 106);
    color: white;
    gap: 0rem;
}
.develop span{
    align-items: center;
    justify-content: center;
    color: wheat;
    padding: 30px 0px;
    font-size: 35px;
}
.develop .para1{
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.inte{
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 40px;
}
.hobbies{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
   align-items: center;
   justify-content: center;
}
.hob{
    border: none;
    width: 50px;
    height: 50px;
    background: rgb(108, 106, 106);
    padding: 50px 50px;
}
.hob span{
    color: wheat;
    margin-left: 5px;
    font-size: 35px;
}
.hob p{
    color: white;
    font-size: 15px;
}
.edu{
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 40px;
}
.cert{
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    margin: 2rem 20rem;
    gap: 5px;
}
.result{
    background: rgb(108, 106, 106);
    color: white;
    padding: 50px 50px;
} 
.result h2{
    color: wheat;
}
.project{
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 40px;
}
.proj{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 1rem 0rem;
    gap: 5px;
}
.git{
    background: rgb(108, 106, 106);
    color: white;
    padding: 50px 50px;
}
.git span{
    align-content: center;
    justify-content: center;
    color: wheat;
    margin-left: 0rem;
    padding: 30px 30px;
    font-size: 50px;
}
.git a{
    text-align: center;
    justify-content: center;
    text-decoration:underline;
    color: white;
    font-size: 30px;
}
.cont{
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 30px;
}
.reach{
    padding: 0px 0px;
    margin:1rem 20rem;
    width: 50%;
    height: 100%;
    border: none;
    background: rgb(108, 106, 106);
}
.reach p{
    text-align: center;
    justify-content: center;
    color: white;
    margin: 30px 50px;
    font-size: 25px;
    padding-top:50px ;
}
.reach a{
    align-content: center;
    justify-content: center;
    gap: 5px;
    color: wheat;
    margin: 20px 15px;
    text-decoration: none;
    font-size: 30px;
    padding-bottom:30px ;
}
.footer p{
    text-align: center;
    justify-content: center;
}
.footer .p1{
    font-size: 20px;
}
.footer .p2{
    font-size: 15px;
    color: rgb(108, 106, 106);
    margin-bottom: 100px;
}
@media(max-width:480px){
    header #meun-bar{
        width: 100%;
        height: 20%;
        display: flex;
        font-size: 30px;
    }

    header .Nav-Link{
        position:absolute;
        top: 100%;
        left:0;
        right:0;
        background: rgb(108, 106, 106);
        border-top: .1rem solid rgba(39, 10, 201, 0.2);
        padding: 1rem 0px ;
        clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
    }

    header .Nav-Link.active{
        clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);

    }
    header .Nav-Link a {
        display: grid;
        padding: 1rem;
        margin: 5px;
        border-radius: .5rem;
        background: rgb(173, 168, 168);
        color: #fff;
    }
    .pro{
        text-align: center;
        justify-content: center;
        margin-top: 10rem;
        font-size: 30px;
    }
    .about{
        width: 100%;
        margin: 2rem 0rem;
        padding: 20px 0px;
        background: rgb(108, 106, 106);
        border: none;
        display: grid;
        gap: 5px;
        color:white;
    }
    .about img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .about h2{
        font-size: 15px;
    } 
    .about p{
        font-size: 12px;
    }
    .profile h1{
        font-size: 25px;
    }
    .profile h3{
        font-size: 15px;
    }
    .wid{
        text-align: center;
        justify-content: center;
        margin-top: 2rem;
        font-size: 30px;
    }
    .portfo{
        width: 100%;
        padding: 20px 0px;
        margin: 2rem 0rem;
        display: grid;
        gap: 1rem;
    }
    .develop span{
        padding: 20px 0px;
        font-size: 25px;
    }
    .develop .para1{
        font-size: 20px;
    }
    .edu{
        text-align: center;
        justify-content: center;
        margin-top: 2rem;
        font-size: 30px;
    }
    .cert{
        display: grid;
        grid-template-columns: auto;
        margin: 2rem 0rem;
        gap: 5px;
    }
    .result{
        width: 100%;
        background: rgb(108, 106, 106);
        color: white;
        padding: 20px 2px;
    }
    .result p{
        font-size: 12px;
    }.result h2{
        font-size: 15px;
    }
    .git a{
        font-size: 20px;
    }
    .cont{
        text-align: center;
        justify-content: center;
        margin-top: 2rem;
        font-size: 30px;
    }
    .reach{
        margin:2rem 0rem;
        width:100%;
        height: 50%;
        border: none;
        background: rgb(108, 106, 106);
    }
    .reach p{
        text-align: center;
        justify-content: center;
        color: white;
        margin: 10px 5px;
        font-size: 20px;
        padding-top:20px ;
    }
    .reach a{
        gap: 10px;
        color: wheat;
        margin: 10px 3px;
        text-decoration: none;
        font-size: 30px;
        padding-bottom: 20px ;
    }

    .footer .p1{
        font-size: 20px;
    }
    .footer .p2{
        font-size: 15px;
        color: rgb(108, 106, 106);
        margin-bottom: 5px;
    }
}